<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level  %logger{60} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
	<param name="Append" value="false" />
    <file>logs.txt</file>
    <encoder>
      <pattern>%-5level  %logger{60} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="TRACE">
  	<appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>