@charset "UTF-8";

form {
    display: block;
    margin-top: 0em;
}

div {
	display:block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.col-sm-4 {
    width: 33.33333333%;
}

#resultTable{
	border:2px;
}


#resultTable tr:nth-child(2n) td{ background: #f5d19b; }
#resultTable tr:nth-child(2n+1) td{ background: #fcf2e2; }